/* Базовые стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

/* Стили для заголовка */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons .login,
.auth-buttons .signup {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-buttons .login {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
}

.auth-buttons .signup {
    background-color: #ff4d4d;
    color: #fff;
}

.auth-buttons .signup:hover {
    background-color: #ff1a1a;
}

/* Стили для hero секции */
.hero {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    align-items: center;
    padding: 50px 10%;
    background-color: #fff;
    gap: 20px;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 0px;
    color: #333;
}

.hero-text p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #666;
}

.delivery-input {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.delivery-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.delivery-input button {
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delivery-input button:hover {
    background-color: #ff1a1a;
}

.app-buttons img {
    width: 150px;
    margin-right: 10px;
}

.hero-image img {
    width: 100%;
    border-radius: 10px;
}
